<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Display a specific car</h1>
    <ul>
        <li>Brand: <%= foundCar.brand %></li>
        <li>Name: <%= foundCar.name %></li>
        <li>Model: <%= foundCar.model %></li>

    </ul>
</body>
</html>